# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Output of the go coverage tool
*.coverprofile
controller/assignCustmorController.go
controller/employLoginController.go  
model/assignCustmorModel.go
model/employLoginModel.go
routes.rest
routes/assignCustmorRouter.go        
routes/employLoginRouter.go
.gitignore
# Dependency directories (remove the comment below if you use Go modules)
vendor/

# Go workspace file
go.work
go.work.sum



# IDE/editor files
.vscode/
.idea/
# .env
